version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    networks:
      - snappy-network

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    networks:
      - snappy-network
    depends_on:
      - backend

networks:
  snappy-network:
