fastapi
uvicorn
opencv-python
numpy
pandas
pycryptodome

#Auth & Security
passlib[bcrypt]
python-jose[cryptography]

#PostgreSQL Async Driver
asyncpg
databases

#Env support
python-dotenv

pydantic[email]

python-multipart

