fastapi
uvicorn
opencv-python-headless
numpy
pandas
pycryptodome
reedsolo

# Auth & Security
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]

# PostgreSQL Async Driver
asyncpg
databases

# Env support
python-dotenv

pydantic[email]
python-multipart
